.developers-cooperation-div {
  display: flex;
  justify-content: space-between;
}

.cooperation-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.cooperation-card {
  width: 300px;
  height: auto;
  background-color: rgba(93, 92, 92, 0.297);
  padding-bottom: 20px;
  border-radius: 20px;
}

.cooperation-card-img {
  margin-top: 5%;
  height: 100px;
  width: 200px;
}

.show-card-button {
  width: auto;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.show-card-button:hover {
  cursor: pointer;
}
/* -------------------------------Input styling------------------- */
.form-div {
  margin: 50px;
  height: auto 250px;
  width: 1200px;
  background-color: lightblue;
  border-radius: 30px;
  text-align: center;
  padding-top: 70px;
}

.name-input {
  margin: 0px 10px 30px 0px;
  border-radius: 5px;
  border-color: rgb(142, 191, 207);
}

.code-input {
  height: auto;
  width: auto;
}

.submit-new {
  background-color: rgba(21, 41, 48, 0.258);
  border-radius: 20px;
  width: 100px;
}

.submit-new:hover {
  cursor: pointer;
}

.loading {
  height: 500px;
  width: 500px;
}
