.footer-info {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightblue;
}

.about-div {
  width: 400px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.instructors-div {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.instructors-list{
  list-style: none;
  font-weight: 500;
}

.about-p{
  font-weight: 500;
}
